.app {
  margin: 0 auto;
  padding: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  h1 {
    text-align: center;
    margin: 1em;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
    font-size: 38px;
  }
}
